<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>   <!-- displaying flash  -->

<div class="container">
    <div class="row">
        <% for (let item of products) { %>
            <div class="col-lg-4 col-md-6 mt-3 d-flex">
                <div class="card shadow mx-auto h-100" style="width: 18rem;">
                    
                    <!-- Fixed size image -->
                    <img src="<%= item.img %>" class="card-img-top" alt="..." 
                         style="height: 200px; object-fit: cover;">
                    
                    <!-- Flexbox to push buttons to bottom -->
                    <div class="card-body d-flex flex-column">
                        <h2 class="card-title"><%= item.name %></h2>
                        <h5 class="card-title text-success">₹ <%= item.price %></h5>
                        <p class="card-text flex-grow-1"><%= item.desc %></p>
                        
                        <div class="mt-auto">
                            <a href="/products/<%=item._id%>" class="btn btn-info">View Product</a>
                            
                            <% if(currentUser && currentUser.role === 'seller') { %>
                                <form class="d-inline-block" 
                                      action="/products/<%=item._id%>?_method=DELETE" 
                                      method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
